:root {
    --main-bg-color: #26a69a;
    --main-text-color: #fff;
    --red-light: #E57373;
    --red: #F44336;
    --grey-light: #f5f5f5;
    --border-grey:#e3e3e3;
}

.demo {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 500px;
    padding: 20px;
    background: var(--grey-light);
    border: 1px solid var(--border-grey);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0500);
}

.config {
    display: flex;
    border: 1px solid red;
    flex: 1;
    min-width: 800px;
}

.content {
    color: black;
    width: 100%;
}

.actions {
    border: 1px solid green;
    padding: 10px;
}

.red-light{
    background-color: var(--red-light);;
}

.btn {
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 16px;
    box-shadow: 0 2px 2px 0;
}

.s-toast-success {
    background-color: var(--main-bg-color);
}