:root {
    --main-bg-color: #26a69a;
    --main-text-color: #fff;
    --red-light: #E57373;
}

.demo {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 500px;
    padding: 0 80px;
    background: #d1d1d1;
}

.config {
    border: 1px solid red;
    flex: 1;
}

.content {
    color: black;
}


.actions {
    border: 1px solid green;
}

.red-light{
    background-color: var(--red-light);;
}

.btn {
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 16px;
    box-shadow: 0 2px 2px 0;
}